<nav>
    <img src="/images/pawNav.png" alt="paw-share-nav-icon" width="150">

    <div class="dropdown">
       <button class="dropdown-btn">{{user.firstName}} {{user.lastName}}</button>
        <div class="dropdown-content">
            <a href="/home">Home</a>
            <a href="/home/account/{{user._id}}">My Account</a>
            <a href="/">Log out</a>
        </div>
    </div>
</nav>