<h1>Welcome to</h1> <br>
<img src="/images/pawShareIcon.png" alt="paw-share-icon" width="300">


<a href="/users/login">Log in</a>                       {{!-- //goes to  http://localhost:4000/users/login  --}}
<p>OR</p> 
<a href="/users/signup">Create a new account</a>        {{!-- //goes to  http://localhost:4000/users/signup  --}}