<div class="new-pet-div">
    <h1>New Pet</h1>

    <form action="/home/new-pet"  method="post" enctype="multipart/form-data">
        <div>
        <label for=""><h3>Name</h3></label>
        <input class="new-pet-input" type="text" name="name">
        </div>

        <div>
        <label for=""><h3>Breed</h3></label>
        <input class="new-pet-input" type="text" name="breed">
        </div>

        <div>
        <label for=""><h3>Gender</h3></label>
        <input class="new-pet-input" type="text" name="gender">
        </div>

        <div>
        <label for=""><h3>Age</h3></label>
        <input class="new-pet-input" type="text" name="age">
        </div>

        <div>
        <label for=""><h3>Icon Image</h3></label>
        <input class="new-pet-input" type="file" name="iconImage">
        </div>

        <div>
        <label for=""><h3>Pet's Bio</h3></label>
        <textarea class="text-area" type="text" name="petBio" rows="3" cols="40"></textarea>
        </div>
        <br>

        <button class="new-pet-btn" type="submit">Add your new pet</button>
        <br>
    </form>
</div>