<h1>New Pet</h1>

<form action="/home/new-pet"  method="post" enctype="multipart/form-data">
    <br>
    <label for="">Name</label>
    <input type="text" name="name">
    <br>
    <label for="">Breed</label>
    <input type="text" name="breed">
    <br>
    <label for="">Gender</label>
    <input type="text" name="gender">
    <br>
    <label for="">Age</label>
    <input type="text" name="age">
    <br>

    <label for="">Icon Image</label>
    <input type="file" name="iconImage">
    <br>

    <label for="">Pet's Bio</label>
    <textarea type="text" name="petBio" rows="6" cols="30"></textarea>
    <br>

    <button type="submit">Add your new pet</button>
</form>