<h2>Log in</h2>

<form action="/users/login"  method="post">
    <br>
    <label for="">Email</label>
    <input type="email" name="email">
    <br>
    <label for="">Password</label>
    <input type="password" name="password">
    <br>
    <button type="submit">Log in</button>

</form>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}

<br><br><br><br>
<p>Don't have an account? Sign up <a href="/users/signup">here!</a></p>