<div class="welcome-div">
    <h1>Sign Up</h1>

    <form action="/users/signup"  method="post">
        
        <label for=""><h2>First Name</h2></label>
        <input class="login-input" type="text" name="firstName">
        
        <label for=""><h2>Last Name</h2></label>
        <input class="login-input" type="text" name="lastName">
        
        <label for=""><h2>Email</h2></label>
        <input class="login-input" type="email" name="email">
        
        <label for=""><h2>Password</h2></label>
        <input class="login-input" type="password" name="password">
        <br>
        <button class="login-btn" type="submit"><h2>Create Account</h2></button>

    </form>

    {{#if errorMessage}}

        <p style="text-align: center;">{{errorMessage}}</p>

    {{/if}}


    <br>
    <p>Do you already have an account? <a style="color: #db7210;" href="/users/login">Log in here!</a></p>
</div>