<div class="welcome-div">
    <h1>Edit</h1>

    <form action="/home/edit-post/{{_id}}"  method="post" enctype="multipart/form-data">
        <br>
        <label for=""><h2>Image</h2></label>
        <input  class="login-input" type="file" name="postImage" default="{{postImage}}">
        <br>

        <label for=""><h2>Description</h2></label>
        <textarea class="text-area" type="text" name="description" rows="6" cols="40">{{description}}</textarea>
        <br>

        <button  class="login-btn" type="submit"><h2>Update Post</h2></button>
        <br>
    </form>
</div>


