<h1>New Post</h1>

<form action="/home/new-post/{{id}}"  method="post" enctype="multipart/form-data">
    <br>
    <label for="">Image</label>
    <input type="file" name="postImage">
    <br>

    <label for="">Description</label>
    <textarea type="text" name="description" rows="6" cols="30"> </textarea>
    <br>

    <button type="submit">Post</button>
</form>

